<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blazed Cosmos</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/Product">Products</a>
            <a href="/Account/Login">Login</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2025 Blazed Cosmos
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>